:root{
    --color-background:     #fff;
    --color-header:         #000;
    --color-text-default:   #000;
    --color-base:           #ccc;
    --color-accent:         #000;
}

@media (prefers-color-scheme: dark) {
:root{
    --color-background:     #111;
    --color-header:         #b73;
    --color-text-default:   #aaa;
    --color-base:           #222;
    --color-accent:         #000;
}
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-default);
}

code {
    font-size: 12pt;
}

li > p,
td > p {
    margin: 0.5em;
}

ul {
    padding-left: 1em;
}

h1,
h2,
h3,
h4 {
    color: var(--color-header);   
    border-color: var(--color-header);
}

h2,
h3 {
    padding-left: 0.5em;
    border-left: 0.4em solid;
}

h2 {
    border-bottom: 2px solid;
}

a:link,
a:visited {
    color: var(--color-text-default);
}

a.license {
    text-decoration:none;
}

object.icon-cc-by path {
    fill: var(--color-text-default);
}

.line-through{
    font-weight: normal;
    text-decoration:line-through;
}

body {
    margin: 0;
    background: var(--color-base);
}

header p {
    margin: 0.6rem;
}

header p.bread {
    font-weight: bold;
    font-size: 1.2rem;
}

article {
    background: var(--color-background);
    padding-bottom: 1rem;
}

footer {
    font-size: small;
}

div.pad {
    margin: 0;
    padding: 0.3rem;
}

.image-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.image-cell img {
    width: 100%;
}

.image-cell img:hover {
  opacity: 0.9;
  transition-duration: 0.3s;
}

p.image-cell-caption {
    margin-top: 0;
    /*padding-left: 0.5rem;*/
    /*padding-right: 0.5rem;*/
    line-height: 125%;
}

p.image-cell-exif {
    margin: 0;
    /*padding-left: 0.5rem;*/
    /*padding-right: 0.5rem;*/
    font-size: xx-small;
}
