:root{
    --theme-back:  #fff;
    --theme-front: #000;
}

body {
    font-family: sans-serif;
    background-color: var(--theme-back);
    color: var(--theme-front);
}

code {
    /*font-family: monospace;*/
    font-size: 12pt;
}

li > p {
    margin: 0;
}

td > p {
    margin: 0;
}

h2 {
    padding-left: 0.5em;
    border-left: 0.4em solid;
    border-bottom: 2px solid;
}

h3 {
    padding-left: 0.5em;
    border-left: 0.4em solid;
}

a.license {
    text-decoration:none;
}

.line-through{
    font-weight: normal;
    text-decoration:line-through;
}

.imageblock img {
    width: 100%;
    max-width: 600px;
}

.imageblock > .title {
    margin-bottom: 1em;
}

.imageblock > .title::before {
    content: "↑ ";
}

body {
    margin: 0;
    background: lightgray;
}

header p {
    margin: 0.6em;
    /*margin-left: 0;*/
}

header a {
    text-decoration: none;
    font-size: 1.2em;
}

header a:link,
header a:visited {
    color: black;
}

#logo-img {
    width: 3em;
}

main {
    background: white;
}

footer {
    font-size: 0.9em;
}

div.pad {
    margin: 0;
    padding: 8px;
}
