:root{
    --theme-back:  #fff;
    --theme-front: #000;
}

body {
    font-family: sans-serif;
    background-color: var(--theme-back);
    color: var(--theme-front);
}

code {
    /*font-family: monospace;*/
    font-size: 12pt;
}

li > p {
    margin: 0;
}

td > p {
    margin: 0;
}

h2 {
    padding-left: 0.5em;
    border-left: 0.4em solid;
    border-bottom: 2px solid;
}

h3 {
    padding-left: 0.5em;
    border-left: 0.4em solid;
}
